:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --hero-text-color: #FFFFFF;
    --nav-text-color: #2196F3;
    --adress-text-color: rgba(255, 255, 255, 0.6);
    --button-text-background: #F5F4FA;
}


body {
    background: var(--hero-text-color);
    color: var(--main-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}


ul {
    list-style: none;
}


a {
    text-decoration: none;
    cursor: pointer;
}


button {
    cursor: pointer;
}


.logo-link {


    font-family: raleway, sans-serif;
    text-decoration: none;
}


.logo-link { 
    color: var(--nav-text-color);
    
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}


.logo-top {
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 23px;
    color: var(--main-text-color);
}


.logo-buttom {

    display: inline-block;
    padding-top: 60px;
    padding-bottom: 20px;
    color: var(--hero-text-color);
}


.site-nav {
    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.site-nav:hover,
.site-nav:focus {
    color: var(--nav-text-color);
}


.site-nav-current {
color: var(--nav-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.link {
    color: var(--secondary-text-color);
    
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.link:hover,
.link:focus {
    color: var(--nav-text-color);
}


.main {
    background-color: #2F303A;
}


.main-title {
    color: var(--hero-text-color);

    margin-top: 0px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    margin-bottom: 30px;
  
}


.button-main {
    color: var(--hero-text-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    display: block;
    padding: 10px 32px;
    border-radius: 4px;
    background: var(--nav-text-color);

}


.button-main:hover,
.button-main:focus {
    color: var(--main-text-color);
    
}


.section-title {
    color: var(--main-text-color);

    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


.advantages-subtitle {
    color: var(--main-text-color);

    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}


.advantages-text {
    color: var(--secondary-text-color);

    margin-top: 0px;
    font-size: 14px;
    line-height: 1.7;

}

.team-subtitle {
    color: var(--main-text-color);

    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}


.team-text {
    color: var(--secondary-text-color);
    
    font-size: 16px;
    line-height: 1.19;
}


.portfolio-subtitle {
    color: var(--main-text-color);

    display: inline-block;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}


.portfolio-text {
    color: var(--secondary-text-color);

    display: inline-block;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


.buttom {
    padding: 60px 1240px 161px 215px;
    background-color: #2F303A;
}


.location {
    color: var(--hero-text-color);

    display: inline-block;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}


.location:hover,
.location:focus {
    color: var(--nav-text-color)
}


.contacts {
    color: var(--adress-text-color);
    display: inline-block;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}


.contacts:hover,
.contacts:focus {
    color: var(--nav-text-color);
}


.button-nav {
    color: var(--main-text-color);
    display: inline-block;
    margin-bottom: 50px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background: var(--button-text-background);
    border-radius: 4px;
    padding: 6px 22px;
}


.button-nav:hover, 
.button-nav:focus{
    color: var(--hero-text-color);
    background: var(--nav-text-color);
}


.button-nav-current {
    color: var(--hero-text-color);
    background: var(--nav-text-color);
    display: inline-block;
    margin-bottom: 50px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;
    
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
}

.main {
    padding-top: 200px;
    padding-bottom: 280px;
    margin-bottom: 97px;
}

.advantages,
.works {
    margin-bottom: 94px;
}

.team {
    padding-top: 96px;

}

.img {
    margin-bottom: 30px;
}

.img-portfolio {
    display: inline-block;
    margin-bottom: 20px;
}
.site {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
}