:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --hero-text-color: #FFFFFF;
    --nav-text-color: #2196F3;
    --adress-text-color: rgba(255, 255, 255, 0.6);
    --button-text-background: #F5F4FA;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid var(--nav-text-color);
}



body {
    background: var(--hero-text-color);
    color: var(--main-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
}



.logo-link {


    font-family: raleway, sans-serif;
    text-decoration: none;
}


.logo-link { 
    color: var(--nav-text-color);
    
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}


.logo-top {
    color: var(--main-text-color);

}



.logo-buttom {
    color: var(--hero-text-color);
}


.site-nav {
    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.site-nav:hover,
.site-nav:focus {
    color: var(--nav-text-color);
}


.site-nav-current {
color: var(--nav-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.link {
    color: var(--secondary-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;
    
    
}



.link:hover,
.link:focus {
    color: var(--nav-text-color);
}


.main {
    background-color: #2F303A;
}


.main-title {
    color: var(--hero-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    margin-bottom: 30px;
  
}


.button-main {
    color: var(--hero-text-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    display: block;
    padding: 10px 32px;
    border-radius: 4px;
    background: var(--nav-text-color);

}


.button-main:hover,
.button-main:focus {
    color: var(--main-text-color);
    
}


.section-title {
    color: var(--main-text-color);

    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


.advantages-subtitle {
    color: var(--main-text-color);

    padding: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}


.advantages-text {
    color: var(--secondary-text-color);

    margin-top: 0px;
    font-size: 14px;
    line-height: 1.7;

}

.team-subtitle {
    color: var(--main-text-color);

    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
}


.team-text {
    color: var(--secondary-text-color);
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}


.portfolio-subtitle {
    color: var(--main-text-color);

    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    
}


.portfolio-text {
    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


.buttom {
    background-color: #2F303A;
}


.location {
    color: var(--hero-text-color);

    display: inline-block;
    margin-top: 20px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}


.location:hover,
.location:focus {
    color: var(--nav-text-color)
}


.contacts {
    color: var(--adress-text-color);
    line-height: 1.7;
    font-style: normal;
    margin-bottom: 6px;
}


.contacts:hover,
.contacts:focus {
    color: var(--nav-text-color);
}


.button-nav {
    color: var(--main-text-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background: var(--button-text-background);
    border-radius: 4px;
    padding: 6px 22px;
    margin-bottom: 34px;


}


.button-nav:hover, 
.button-nav:focus{
    color: var(--hero-text-color);
    background: var(--nav-text-color);
}


.button-nav-current {
    color: var(--hero-text-color);
    background: var(--nav-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    padding: 6px 24px;
    margin-bottom: 34px;
    
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.main {
    padding-top: 200px;
    padding-bottom: 200px;
}


.img {
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}

.img-portfolio {
    display: block;
    max-width: 100%;
    height: auto;

}

.container.top{
    padding-top: 24px;
    padding-bottom: 25px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.works {
    padding: 0;

}

.section-title.team {
    padding-top: 94px;
}

.container.buttom {
    padding-top: 60px;
    padding-bottom: 60px;
}


.border {
    border: 1px solid #EEEEEE;
    text-align: center;
}

.cards:nth-child(3n+1) {
    margin-left: 0px;
}

.cards {
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 30px;

}



.nav {
    display: inline-block;
    margin-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.nav:last-child {
    margin-right: 0px;

}


.container.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 260px;
    margin-right: 30px;

}

 .container.advantages {
    display: flex;
    flex-wrap: wrap;
}

.img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.photo-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 8px;

}

.filter: :last-child {
    margin-right: 0px;
}



